
<div class="row">
  <div class="login col-6">
    <div class="navbar-container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="round"></div>
        <a class="navbar-brand" href="#">Storename</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b style="color: rgb(27, 25, 25);">Products</b>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>Pricing</b></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="label-container">
      <div class="lorem">
        Lorem ipsum <br> dolor <b style="color: #1F4948;">sit amet</b>
      </div>
      <div class="paragraph">pellentesque duis dui blandit. Fames nibh et, <br> est augue mollis nullam. Pharetra, pulvinar molestie <br> penatibus leo.</div>
    </div>
    <div style="margin-top:50px ;"><input class="inputfield" type="text" placeholder="Enter Your Email"><input class="submitButton" type="submit" value="Get Early Access"></div>
    </div>
  <div class="rectangle col-6">
    <div><input class="signInButton" type="submit" value="Sign In"></div>
    <div class="Image1">
      <img class="logo1" src="assets/creators-collective-Z51DwiaE5T0-unsplash.png">
    </div>
    <div style="display: flex; flex-direction: row;">
      <div class="Image2">
        <img class="logo" src="assets/blake-wisz-GFrBMipOd_E-unsplash.png">
      </div>
      <div class="Image3">
        <img class="logo3" src="assets/christiann-koepke-dQyS2pMYtok-unsplash.png">
      </div>
    </div>
    <div style="margin-left: 550px;">
      <a style="margin-right:30px;background: #1F4948; padding:0px 7px 0px 7px; border-radius: 50%;color: white;" href="#">❮</a>
      <a style="background: #1F4948; padding:0px 7px 0px 7px; border-radius: 50%;color: white;" href="#">❯</a>
    </div>
  </div>
  <!-- <button style="margin-left: 50px;" (click)="fetch()">Click</button> -->
</div>
<div class="productlist">Products</div>
<div class="image">
<div  *ngFor="let user of users">
  <!-- <div > -->
    <img class="img-responsive" src="{{user.image_url}}" (click)="delete(user.id)" style="cursor: pointer;">
    <div class="beerName">{{user.name}}</div>
    <div class="beerPrice">${{user.attenuation_level}}</div>

  <!-- </div> -->
</div>
</div>
<div style="display: flex;margin-top: 30px; ">
  <div class="fotterlog1"></div>
  <div><img class="footerlogo2" src="assets/jabeerwocky-craft-beer 1.png"></div>
  <div class="layout-container1">There's something for everyone!</div>
</div><br><div class="layout-container2">15% OFF YOUR FIRST 3 ORDER</div>
<div class="review">Review</div>
<div  class="profile-container">
<div><img class="profilepic" src="assets/23273695 1.png"></div>
<div>Shahidul ISLAM</div>
<div>"AMAGING test with quality products"</div>
<div class="pagination-wrapper">
  <div class="pagination">
    <span class="active"></span>
    <span></span>
    <span></span>
  </div>
</div>
</div>
<div class="footer row">
  <div class="col-7" style="margin-left:50px">&#169; 2020 storename</div>
  <div style="display: flex; justify-content: end;margin-right: 50px;" class="footer-baby col-4">
    <div>Gallary</div>
  <div>About</div>
  <div>Contact</div>
  </div>
</div>
<div id="myModal" class="modal fade show" role="dialog" [ngClass]="{'show':showModal}">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="showModal=false">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of items" style="display: flex;flex-direction: row; color: white;">
          <div>
          <img class="img-dialog" src="{{item.image_url}}">
          <div>{{item.name}}</div>
          <div>{{item.attenuation_level}}</div>
          </div>
          <div style="margin-left: 50px; color: white;">Details: <br><br>
            <div>Boil-Volume: {{item.boil_volume.value}} {{item.boil_volume.unit}}</div>
            <div>Brewers_tips: {{item.brewers_tips}}</div>
            <div>{{item.description}}</div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>